h1{
    font-size: medium;
}
p{
    color: brown;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}